.post-feed .post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.post-feed .post-media {
    margin: 0 auto;
    flex-shrink: 0;
    height: 300px;
    width: 300px;
}
.post-feed .post-media .post-image {
    height: 300px;
    width: 300px;
}

.post-feed .post-meta {
    margin-bottom: 10px;
}

.post-feed .post-title {
    font-size: 28px;
    letter-spacing: -0.5px;
}

@media (max-width: 767px) {
    .post-feed .post {
        display: block;
    }

    .post-feed .post-media {
        margin-bottom: 30px;
    }

    .post-feed .post-header {
        margin-bottom: 10px;
    }

    .post-feed .post-title {
        font-size: 20px;
        letter-spacing: 0;
    }

    .post-feed .post-footer {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-feed .post-media {
        width: 250px;
        margin-right: 30px;
    }

    .post-feed .post-wrapper {
        margin-top: 0;
    }

    .post-feed .post-title {
        font-size: 24px;
        letter-spacing: 0;
    }
}


/* MASONRY */
.post-feed {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto 48px;
}

.feed-item {
    padding: 12px;
}

.feed-sizer,
.feed-item {
    width: 100%;
}

/* 2 columns */
.feed-item--width2 {
    width: 100%;
}

@media (min-width: 767px) {

    .feed-sizer,
    .feed-item {
        width: 33%;
    }

    /* 2 columns */
    .feed-item--width2 {
        width: 66%;
    }
}
.post-feed .post-title {
    padding: 0 12px;
}

.post-feed .post-excerpt {
    padding: 0 12px;
    font-family: var(--font-serif);
}